@use './mixins/main' as *;

* {
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    height: 52px;
}

input {
    border: none;

    &:focus {
        outline: none;
    }
}

select {
    border: none;

    &:focus {
        outline: none;
    }
}

.container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @include devices(xs) {
        max-width: 575px;
        padding: 0 10px;
    }

    @include devices(sm) {
        max-width: 768px;
    }
}

@import './mixins/main.scss', './components/main.scss', './layouts/main.scss', './pages/main.scss'