.view-memory {
    flex: 1;
    background-color: #F3F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0;

    &-main {
        .view-memory-header {
            display: flex;
            gap: 10px;
            margin-bottom: 16px;

            h3 {
                font-weight: 600;
                font-size: 24px;
                color: #020A16;
                text-align: start;
            }

            svg {
                cursor: pointer;
            }
        }

        .view-memory-content {
            width: 1130px;
            height: max-content;
            min-height: 762px;
            background: white;
            border-radius: 12px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .memory-top {
                display: flex;
                gap: 16px;

                .memory-avatar {
                    width: 168px;
                    height: 168px;
                    position: relative;

                    .choose-avatar {
                        position: absolute;
                        top: 137px;
                        left: 64px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        background: white;
                        border-radius: 50%;
                        border: 1px solid transparent;
                        background: linear-gradient(#fff, #fff) padding-box,
                            linear-gradient(99.29deg, #C78F76 35.95%, #92573D 64.05%) border-box;

                        input {
                            position: absolute;
                            opacity: 0;
                            height: 40px;
                            width: 40px;
                            cursor: pointer;
                            color: #020A16;
                        }
                    }

                    img {
                        width: 168px;
                        height: 168px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .memory-info {
                    
                    width: 100%;
                    justify-content: space-between;
                    gap: 16px 19px;

                    &-left {
                        flex-direction: column;
                        justify-content: center;
                        gap: 16px;

                        .memory-name {
                            flex-direction: column;
                            gap: 4px;

                            h3 {
                                font-weight: 600;
                                font-size: 26px;
                                color: #020A16;
                            }

                            span {
                                color: #663722;
                                font-weight: 400;
                                font-size: 18px;
                            }
                        }

                        .memory-birth-place {
                            flex-direction: column;
                            gap: 4px;

                            h3 {
                                font-weight: 500;
                                font-size: 18px;
                                color: #647076;
                            }

                            span {
                                font-weight: 600;
                                font-size: 20px;
                                color: #020A16;
                            }
                        }
                    }

                    &-right {
                        flex-direction: column;
                        width: 445px;
                        gap: 44px;

                        .memory-status {
                            width: 100%;
                            justify-content: flex-end;
                        }

                        .memory-birht-day {
                            gap: 4px;
                            flex-direction: column;

                            h3 {
                                font-weight: 500;
                                font-size: 18px;
                                color: #647076;
                            }

                            span {
                                font-weight: 600;
                                color: #020A16;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            .memory-bio {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;

                h3 {
                    font-size: 18px;
                    color: #647076;
                    font-weight: 500;
                }

                p {
                    font-weight: 600;
                    font-size: 20px;
                    color: #020A16;
                }

                &-title,
                &-biography {
                    flex-direction: column;
                    gap: 4px;
                }
            }

            .memory-location {
                flex-direction: column;
                gap: 16px;

                h3 {
                    color: #647076;
                    font-size: 18px;
                    font-weight: 500;
                }

                &-item {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    span {
                        color: #020A16;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .memory-location-region,
                    .memory-location-city,
                    .memory-location-cemetery {
                        gap: 4px;
                        flex-direction: column;
                    }

                }

                .memory-death-place {
                    gap: 4px;
                    flex-direction: column;

                    p {
                        font-weight: 600;
                        font-size: 20px;
                        color: #020A16;
                    }
                }


            }

            .memory-extra {
                flex-direction: column;
                gap: 16px;

                h3 {
                    color: #647076;
                    font-weight: 500;
                    font-size: 18px;
                }

                span {
                    font-weight: 600;
                    font-size: 20px;
                    color: #020A16;
                }

                &-death-about {
                    
                    gap: 255px;
                }
            }

            .memory-map {
                span {
                    font-weight: 500;
                    font-size: 18px;
                    color: #647076;
                }
            }

            .memory-gallery {
                display: flex;
                flex-direction: column;
                gap: 16px;

                h4 {
                    font-weight: 600;
                    font-size: 24px;
                    color: #663722;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 980px;
                        background: #DFE4EA;
                        bottom: 50%;
                        right: 0;
                    }
                }

            }

            .memory-actions {
                display: flex;

                .memory-action-btns {
                    
                    gap: 16px;

                    .save-btn {
                        border: none;
                        border-radius: 8px;
                        width: 137px;
                        height: 52px;
                        color: white;
                        font-weight: 500;
                        font-size: 20px;
                        cursor: pointer;
                        transition: 0.2s;
                    }

                    .preview-btn {
                        width: 315px;
                        background: rgba(244, 237, 233, 1);
                        font-weight: 500;
                        font-size: 20px;
                        color: rgba(102, 55, 34, 1);
                    }
                }

                .memory-status {
                    width: 277px;
                    height: 52px;
                    padding: 16px;
                    gap: 10px;
                }
            }
        }
    }
}