.advantages-card {
    display: flex;
    flex-direction: column;

    .advantages-card-img {
        width: 440px;
        height: 280px;
        border-radius: 16px;

        img {
            width: 440px;
            height: 280px;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    .advantages-card-text h1 {
        font-weight: 600;
        font-size: 24px;
        color: #020A16;
        margin: 10px 0;
    }

    .advantages-card-text p {
        font-weight: 400;
        font-size: 18px;
        color: #020A16;

    }

}