.language-select {
    position: relative;
    width: 180px;
    cursor: pointer;
    user-select: none;

    .selected {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 6px 10px;
        border-radius: 6px;
        background: #fff;
        font-weight: 400;
        font-size: 20px;

        .flag {
            width: 20px;
            height: 14px;
            border-radius: 2px;
        }
    }

    .options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-top: 4px;
        list-style: none;
        padding: 0;
        font-weight: 400;
        font-size: 20px;

        li {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 6px 10px;

            &:hover {
                background: #f5f5f5;
            }

            .flag {
                width: 20px;
                height: 14px;
                border-radius: 2px;
            }
        }
    }
}

@include devices(xs) {
    .language-select {
        width: max-content;

        .selected {
            font-size: 16px;
            padding: 4px 6px;
            height: 38px;
            width: 130px;

            .flag {
                width: 16px;
                height: 12px;
            }

            svg {
                height: 14px;
                width: 14px;
            }
        }

        .options {
            font-size: 14px;
        }
    }
}