.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 100%;
        color: #020A16;
    }

    label.info {
        font-size: 18px;
        font-weight: 500;
        color: #647076;
    }

    &-wrapper {
        position: relative;

        input {
            width: 100%;
            padding: 13px 48px 13px 14px;
            box-sizing: border-box;
            outline: none;
            border: 1px solid #DFE4EA;
            border-radius: 12px;
            font-size: 20px;
            color: #020A16;
            height: 52px;

            &::placeholder {
                font-weight: 500;
                font-size: 20px;
                color: #8F9BA1;
            }


        }

        svg {
            position: absolute;
            right: 12px;
            top: 13px;
        }

        span {
            font-weight: 600;
            font-size: 20px;
            color: #020A16;
        }
    }


}