.nav {
    display: flex;
    align-items: center;
    width: max-content;

    @include devices(xs) {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        
        gap: 32px;

        li {
            cursor: pointer;

            .nav-item-link {
                font-weight: 400;
                font-size: 20px;
                font-weight: 120%;
                color: #020A16;
            }
        }

    }
}