.pricing {
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .pricing-title h1 {
        color: #020A16;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 16px;
    }

    .pricing-cards {
        gap: 40px;
    }
}


@include devices(xs) {
    .pricing {
        margin-top: 40px;
        margin-bottom: 0;

        .pricing-title h1 {
            font-size: 22px;
            margin-bottom: 16px;
        }

        .pricing-cards {
            flex-direction: column;
        }
    }
}