.trusted-by-section {
    width: 100%;
    height: 661px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F6FA;

    .trusted-by-title {
        display: flex;
        align-items: start;
        flex-direction: column;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .trusted-by-contents {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
        width: 1360px;
        overflow: scroll;
        scroll-behavior: smooth;


        .trusted-by-content {
            max-width: 408px;
            min-width: 408px;
            height: 247px;
            border-radius: 16px;
            background-color: white;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .content-about p {
                color: #020A16;
                font-weight: 400;
                font-size: 18px;
                margin-top: 14px;

            }

            .trusted-user-name {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 16px;
                color: #020A16;
                font-weight: 500;
            }
        }
    }

    .trusted-by-contents::-webkit-scrollbar {
        display: none;
    }

    .trusted-by-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        svg {
            cursor: pointer;
        }
    }

}