.view-gallery-media {
    display: flex;
    justify-content: center;
    gap: 16px;

    .view-image-list,
    .view-video-list,
    .view-audio-list {
        width: 353px;
        min-height: 52px;
        height: max-content;
        border-radius: 12px;
    }

    .image-view,
    .video-view,
    .audio-view {
        width: 353px;
        min-height: 52px;
        height: max-content;
        border-radius: 12px;
        gap: 6px;
        position: relative;
        background-color: #F8EEE9;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #663722;
        font-weight: 600;
        font-size: 18px;
    }

    .view-galley-images,
    .gallery-videos {
        width: 353px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        height: max-content;
        align-items: center;

        .image-item {
            position: relative;
            width: 169px;

            img {
                width: 169px;
                height: 168px;
                border-radius: 12px;
                object-fit: cover;
            }

            button {
                position: absolute;
                top: 134px;
                left: 134px;
                background: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }

    .video-item {
        width: 169px;
        height: 168px;
        position: relative;

        video {
            width: 169px;
            height: 168px;
            object-fit: cover;
            border-radius: 12px;
        }

        button {
            position: absolute;
            top: 134px;
            left: 134px;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .view-audio-list {
        flex-direction: column;
    
        .gallery-audios {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .audio-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 353px;
                height: 48px;
                padding: 14px;
                border-radius: 12px;
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(223, 228, 234, 1);

                .audio-box {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    svg {
                        cursor: pointer;
                    }

                    span {
                        font-weight: 500;
                        font-size: 18px;
                        color: rgba(2, 10, 22, 1);
                    }
                }

                button {
                    height: 28px;
                    background: none;
                }
            }
        }
    }

}