.header {
    width: 100%;

    &-inner {
        width: 100%;
        position: relative;
        z-index: 9999;

        .header-main {
            width: 100%;
            padding: 16px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include devices(xs) {
                padding: 10px 0;
            }

            .header-left {
                display: flex;
                gap: 60px;

                @include devices(xs) {
                    gap: 40px;
                }
            }

            .header-logo {
                width: 240px;
                height: auto;
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 12px;

                @include devices(xs) {
                    gap: 8px;
                    width: auto;
                }

                .logo-wrapper {
                    width: 70px;
                    height: 80px;

                    @include devices(xs) {
                        width: 50px;
                        height: auto;
                    }

                    svg {
                        width: 70px;
                        height: 80px;

                        @include devices(xs) {
                            width: 50px;
                            height: auto;
                        }
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 120%;
                    color: #020A16;
                    width: 120px;

                    @include devices(xs) {
                        font-size: 18px;
                    }
                }

            }
        }

        .header-action {
            display: flex;
            align-items: center;
            gap: 24px;

            div {
                display: flex;

                @include devices(xs) {
                    display: none;
                }
            }

            .humburger-menu {
                display: none;

                @include devices(xs) {
                    display: flex;
                }
            }
        }

    }
}